.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.toggle-button {
    position: fixed;
    width: 60px;
    height: 44px;
    top: 10px;
    right: 10px;
    padding: 10px;
    transition: .25s;
    z-index: 15;
    background: rgba(0,0,0,1);
    &:hover {
        cursor: pointer;
    }
    .menu-bar {
        position: absolute;
        border-radius: 0;
        width: 40px;
        transition: .5s;
    }
    .menu-bar-top {
        border: 4px solid #fff;
        border-bottom: none;
        top: 10px;
    }
    .menu-bar-middle {
        height: 4px;
        background-color: #fff;
        margin-top: 4px;
        margin-bottom: 4px;
        top: 16px;
    }
    .menu-bar-bottom {
        border: 4px solid #fff;
        border-top: none;
        top: 30px;
    }
}
.button-open {
    right: 25px;
    background: transparent;
    .menu-bar {
        width: 35px;    
    }
    .menu-bar-top {
        border-color: #fff;
        transform: rotate(45deg) translate(8px, 8px);
        transition: .5s;
    }
    .menu-bar-middle {
        background-color: #fff;
        transform: translate(230px);
        transition: .1s ease-in;
        opacity: 0;
    }
    .menu-bar-bottom {
        border-color: #fff;
        transform: rotate(-45deg) translate(5px, -6px);
        transition: .5s;
    }
}
@media (min-width: 992px) {
    .menu {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        li {

        }
    }
    .toggle-button {
        display: none;
    }
}
@media (max-width: 991px) {
    .menu-wrap {
        background-color: rgba(0,0,0,.9);
        position: fixed;
        top: 0;
        height: 100%;
        width: 280px;
        right: -280px;
        font-size: 1em;
        font-weight: 700;
        overflow-x: hidden;
        overflow-y: auto;
        transition: .25s;
        z-index: 10;
    }
    .menu-show {
        right: 0;
    }
    .menu-sidebar {
        margin: 75px 0 80px 10px;
        position: relative;
        top: 70px;
        .menu {
            li {
                padding: 20px 10px;
                border-bottom: 1px solid;
                a {
                    color: #fff !important;
                    font-size: 20px;
                    line-height: 24px;
                    position: relative;
                    font-weight: 300;
                    &:hover {
                        text-decoration: none !important;
                        &::after {
                            background-position: -100% 0;
                        }
                    }
                    &::after {
                        content: "";
                        display: block;
                        height: 0.15em;
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        left: 50%;
                        transform: translate(-50%);
                        background-image: linear-gradient(to right, transparent 50.3%, #FFFA3B 50.3%);
                        transition: background-position .2s .1s ease-out;
                        background-size: 200% auto;
                    }
                }
            }
            .menu-item-has-children {
                position: relative;
                .sub-menu {
                    display: none;
                }
            }   
        }        
    }
}